<div class="container">
    <h1 class="title" class="text-center">Olá, {{userName}}.</h1>
    <div class="main">
        <p>Seja bem-vindo ao Lightning Games<sup>&reg;</sup>, o sistema de gerenciamento de jogos antigos e novos, primeiramente ele é divido em 4 partes: Início, Plataformas, Fabricantes, Usuários, Jogos, cada divisão dessas é sub dividida em outras 3: listar, cadastrar e editar, sendo que na listar ainda tem a opção de pesquisar e excluir.</p>
        <h3>Início</h3>
        <p>- No início, esta página, temos a descrição de todo o funcionamento do sistema (divisões, funcionalidades, observações, especificações...).</p>
        <h3>Plataformas</h3>
        <p>- Nas plataformas, podemos listar as plataformas com as opções de pesquisar e excluir, e temos duas diviões de editar e cadastrar.</p>
        <h3>Fabricantes</h3>
        <p>- Nas fabricantes, podemos listar as fabricantes com as opções de pesquisar e excluir, e temos duas diviões de editar e cadastrar.</p>
        <h3>Usuários</h3>
        <p>- Nos usuários, podemos listar os usuários com as opções de pesquisar e excluir, e temos duas diviões de editar e cadastrar.</p>
        <h3>Jogos</h3>
        <p>- Nos jogos, podemos listar os jogos com as opções de pesquisar e excluir, e temos duas diviões de editar e cadastrar.</p>
    </div>
</div>