<div class="container">
    <form  enctype="multipart/form-data" class="row" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="col-md-8 offset-md-2">
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" id="name" name="name" class="form-control" autocomplete="off" #name="ngModel" ngModel required>
                <app-form-control [mostrarErro]="verificaValidTouched(name)" msgErro="O campo nome deve ser preenchido."></app-form-control>
            </div>
            <div class="form-group">
                <label>E-mail</label>
                <input type="email" name="email" class="form-control" autocomplete="off" id="email" #email="ngModel" email ngModel required>
                <app-form-control [mostrarErro]="verificaValidTouched(email)" msgErro="O campo e-mail deve ser preenchido e válido."></app-form-control>
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" class="form-control" autocomplete="off" #password="ngModel" ngModel required>
                <app-form-control [mostrarErro]="verificaValidTouched(password)" msgErro="O campo senha deve ser preenchido."></app-form-control>
            </div>
            <div class="form-group">
                <label>Imagem</label>
                <input type="file" name="image" class="form-control" autocomplete="off">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
                Enviar
            </button>
            <a [routerLink]="['/listar', 'usuarios']" class="btn btn-primary">Voltar</a>
        </div>
    </form>
</div>