<div class="container">
    <form  enctype="multipart/form-data" class="row" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="col-md-8 offset-md-2">
            <div class="form-group">
                <label for="name" [ngClass]="applyCssErrorLabel(name)">Nome</label>
                <input type="text" id="name" name="name" placeholder="ex: Street Fighter" class="form-control" autocomplete="off" #name="ngModel" ngModel required>
                <app-form-control [showError]="checkValidTouched(name)" messageError="O campo nome deve ser preenchido."></app-form-control>
            </div>
            <div class="form-group">
                <label for="category" [ngClass]="applyCssErrorLabel(category)">Categoria</label>
                <input type="text" id="category" name="category" placeholder="ex: Luta" class="form-control" autocomplete="off" #category="ngModel" ngModel required>
                <app-form-control [showError]="checkValidTouched(category)" messageError="O campo categoria deve ser preenchido."></app-form-control>
            </div>
            <div class="form-group">
                <label>Fabricante</label><br>
                <label class="radio-inline" *ngFor="let manufacture of manufactures">
                    <input type="radio" name="manufacture" value="{{manufactures.id}}">
                    <span>
                        {{manufacture.name}}
                        <img src="{{manufacture.imageFullPath}}" width="50" height="50">
                    </span>
                </label>
            </div>
            <div class="form-group">
                <label>Plataforma(s)</label><br>
                <label class="checkbox-inline" *ngFor="let platform of platforms">
                    <input type="checkbox" value="{{platform.id}}">
                    <span>
                            {{platform.name}}
                            <img src="{{platform.imageFullPath}}" width="50" height="50">
                        </span>
                </label>
            </div>
            <div class="form-group">
                <label for="price" [ngClass]="applyCssErrorLabel(price)">Preço</label>
                <div class="sub" [ngClass]="applyCssErrorInput(price)">
                    <span>R$</span>
                    <input type="number" id="price" name="price" placeholder="ex: 199,99" class="form-control" autocomplete="off" #price="ngModel" ngModel required>
                </div>
                <app-form-control [showError]="checkValidTouched(price)" messageError="O campo preço deve ser preenchido."></app-form-control>
            </div>
            <div class="form-group">
                <label for="quantity"  [ngClass]="applyCssErrorLabel(quantity)">Quantidade</label>
                <input type="number" id="quantity" name="quantity" placeholder="ex: 3" min="0" step="any" class="form-control" autocomplete="off" #quantity="ngModel" ngModel required>
                <app-form-control [showError]="checkValidTouched(quantity)" messageError="O campo quantidade deve ser preenchido."></app-form-control>
            </div>
            <div class="form-group">
                <label>Em Produção?</label><br />
                <label class="radio-inline"><input type="radio" name="optradio" value="0">Não</label>
                <label class="radio-inline"><input type="radio" name="optradio" value="1" checked>Sim</label>
            </div>
            <div class="form-group">
                <label for="description" [ngClass]="applyCssErrorLabel(description)">Descrição</label>
                <textarea name="description" id="description" class="form-control" placeholder="ex: Considerado um dos melhores jogos de luta da história..." autocomplete="off" #description="ngModel" ngModel required></textarea>
                <app-form-control [showError]="checkValidTouched(description)" messageError="O campo descrição deve ser preenchido."></app-form-control>
            </div>
            <div class="form-group">
                <label>Imagem</label>
                <input type="file" name="image" class="form-control" autocomplete="off">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
                Enviar
            </button>
            <a [routerLink]="['/jogo']" class="btn btn-primary">Voltar</a>
        </div>
    </form>
</div>