<div class="container">
    <form  enctype="multipart/form-data" class="row" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="col-md-8 offset-md-2">
            <div class="form-group">
                <label for="name" [ngClass]="applyCssError(name)">Nome</label>
                <input type="text" id="name" name="name" placeholder="ex: Street Fighter" class="form-control" autocomplete="off" #name="ngModel" ngModel required>
                <app-form-control [show]="checkValidTouched(name)" message="O campo nome deve ser preenchido."></app-form-control>
            </div>
            <div class="form-group">
                <label for="category" [ngClass]="applyCssError(category)">Categoria</label>
                <input type="text" id="category" name="category" placeholder="ex: Luta" class="form-control" autocomplete="off" #category="ngModel" ngModel required>
                <app-form-control [show]="checkValidTouched(category)" message = "O campo categoria deve ser preenchido."></app-form-control>
            </div>
            <div class="form-group">
                <label>Fabricante</label><br>
                <div *ngFor="let manufacture of manufactures; let i = index" style="display: inline-block">
                    <label class="radio-inline" for="manufacture-{{i}}">
                        <input type="radio"
                               (focusout)="setterFocusOut()"
                               (focus)="setterFocus()"
                               (click)="setterSelected()"
                               name="manufacture" id="manufacture-{{i}}" value="{{manufacture.id}}" ngModel required>
                        <span>
                            {{manufacture.name}}
                            <img src="{{manufacture.imageFullPath}}" width="50" height="50">
                        </span>
                    </label>
                </div>
                <p class="note">* é necessário selecionar uma fabricante</p>
            </div>
            <div ngModelGroup="platforms">
                <div class="form-group">
                    <app-form-control [show]="checkValidRadio()" message="Selecione uma fabricante."></app-form-control>
                    <label>Plataforma(s)</label><br>
                    <label class="checkbox-inline" *ngFor="let platform of platforms; let i = index">
                        <input name="{{i}}" type="checkbox" value="{{platform.id}}" ngModel>
                        <span>
                            {{platform.name}}
                            <img src="{{platform.imageFullPath}}" width="50" height="50">
                        </span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="price" [ngClass]="applyCssError(price)">Preço</label>
                <div class="sub" [ngClass]="applyCssError(price)">
                    <span>R$</span>
                    <input type="number" id="price" name="price" placeholder="ex: 199,99" class="form-control" autocomplete="off" #price="ngModel" ngModel required>
                </div>
                <app-form-control [show]="checkValidTouched(price)" message = "O campo preço deve ser preenchido."></app-form-control>
            </div>
            <div class="form-group">
                <label for="quantity"  [ngClass] = "applyCssError(quantity)">Quantidade</label>
                <input type="number" id="quantity" name="quantity" placeholder="ex: 3" min="0" step="any" class="form-control" autocomplete="off" #quantity="ngModel" ngModel required>
                <app-form-control [show] = "checkValidTouched(quantity)" message = "O campo quantidade deve ser preenchido."></app-form-control>
            </div>
            <div class="form-group">
                <label>Em Produção?</label><br />
                <label class="radio-inline"><input type="radio" name="production" value="0" ngModel>Não</label>
                <label class="radio-inline"><input type="radio" name="production" value="1" ngModel>Sim</label>
            </div>
            <div class="form-group">
                <label for="description" [ngClass]="applyCssError(description)">Descrição</label>
                <textarea name="description" id="description" class="form-control" placeholder="ex: Considerado um dos melhores jogos de luta da história..." autocomplete="off" #description="ngModel" ngModel required></textarea>
                <app-form-control [show]="checkValidTouched(description)" message="O campo descrição deve ser preenchido."></app-form-control>
            </div>
            <div class="form-group">
                <label for="image">Imagem</label>
                <input type="file" name="image" (change)="fileChange($event.target)" id="image" class="form-control" accept=".png,.jpg">
            </div>
            <app-form-control [show]="show" [message]="message" [type]="success"></app-form-control>
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
                Enviar
            </button>
            <a [routerLink]="['/jogo']" class="btn btn-primary">Voltar</a>
        </div>
    </form>
</div>