<div class="container">
    <form  enctype="multipart/form-data" class="row" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="col-md-8 offset-md-2">
            <div class="form-group">
                <label for="name" [ngClass]="applyCssErrorLabel(name)">Nome</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="ex: Henrique Antonio" autocomplete="off" #name="ngModel" ngModel required>
                <app-form-control [showError]="checkValidTouched(name)" messageError="O campo nome deve ser preenchido."></app-form-control>
            </div>
            <div class="form-group">
                <label [ngClass]="applyCssErrorLabel(email)">E-mail</label>
                <input type="email" name="email" class="form-control" placeholder="ex: henrique@buzin.com" autocomplete="off" id="email" #email="ngModel" email ngModel required>
                <app-form-control [showError]="checkValidTouched(email)" messageError="O campo e-mail deve ser preenchido e válido."></app-form-control>
            </div>
            <div class="form-group">
                <label [ngClass]="applyCssErrorLabel(password)">Senha</label>
                <input type="password" name="password" class="form-control" placeholder="ex: 8cR*DwvjI%QT" autocomplete="off" id="password" #password="ngModel" ngModel required>
                <app-form-control [showError]="checkValidTouched(password)" messageError="O campo senha deve ser preenchido e válido."></app-form-control>
            </div>
            <div class="form-group">
                <label>Imagem</label>
                <input type="file" name="image" (change)="fileChange($event)" class="form-control" accept=".png,.jpg">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
                Enviar
            </button>
            <a [routerLink]="['/usuario']" class="btn btn-primary">Voltar</a>
        </div>
    </form>
</div>