<div class="container">
    <form  enctype="multipart/form-data" class="row" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="col-md-8 offset-md-2">
            <div class="form-group">
                <label for="name" [ngClass]="applyCssErrorLabel(name)">Nome</label>
                <input type="text" id="name" name="name" placeholder="ex: Rockstar Games" class="form-control" autocomplete="off" #name="ngModel" [(ngModel)]="manufactures.name" required>
                <app-form-control [showError]="checkValidTouched(name)" messageError="O campo nome deve ser preenchido."></app-form-control>
            </div>
            <div class="form-group">
                <label for="image">Imagem</label><br>
                <img src="{{manufactures.imageFullPath}}" width="150" height="150">
                <p class="note">* imagem atual do usuário</p>
                <input type="file" name="image" id="image" class="form-control" ngModel>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
                Enviar
            </button>
            <a [routerLink]="['/fabricante']" class="btn btn-primary">Voltar</a>
        </div>
    </form>
</div>