.radio-inline > input {
    /* margin-right: 5px; */
    margin: 0 5px 0 5px;
}
.checkbox-inline > span {
    margin: 0 5px 0 5px;
}
.sub {
    line-height: 1.25;
    color: #464a4c;
    padding: .5rem .75rem;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    display: block;
    width: 100%;
}
.sub > .form-control {
    padding: 0;
    border: 0;
    display: inline-block;
    width: 96%;
}
.subError {
    border-color: #FF0000;
}
.checkbox-inline > span, .radio-inline > span > img {
    margin: 0 5px 0 5px;
}
.checkbox-inline > span > img, .radio-inline > span > img {
    border-radius: 5px;
}
.ng-invalid.ng-touched:not(form) {
    border: 1px solid #9d4d49;
}
.container {
    margin-bottom: 1rem;
}
.textError {
    color: #9d4d49;
}