<div class="col-md-12">
    <div class="row bar">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <span class="input-group-btn">
                        <a [routerLink]="['/cadastrar', 'usuarios']" class="btn btn-primary">
                            Novo Usuário
                        </a>
                    </span>
                    <input  #SearchedText (keyup)="0" class="form-control" placeholder="Procurar usuário">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Senha</th>
                <th>Data de Registro</th>
                <th>Imagem</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.registrationDate | date: 'dd/MM/yyyy'}}</td>
                    <td><img src="{{user.image}}" width="200" height="200" /></td>
                    <td><i class="fa fa-pencil icon" aria-hidden="true" (click)="staticModal.show()"></i></td>
                    <td><i class="fa fa-times icon" aria-hidden="true" (click)="staticModal.show()"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>