<div class="container">
    <form  enctype="multipart/form-data" class="row" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="col-md-8 offset-md-2">
            <div class="form-group">
                <label for="name" [ngClass]="aplicaCssErroLabel(name)">Nome</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="ex: Street Fighter" autocomplete="off" #name="ngModel" [(ngModel)]="games.name" required>
                <app-form-control [mostrarErro]="verificaValidTouched(name)" msgErro="O campo nome deve ser preenchido."></app-form-control>
            </div>
            <div class="form-group">
                <label for="category" [ngClass]="aplicaCssErroLabel(category)">Categoria</label>
                <input type="text" id="category" name="category" placeholder="ex: Luta" class="form-control" autocomplete="off" #category="ngModel" [(ngModel)]="games.category" required>
                <app-form-control [mostrarErro]="verificaValidTouched(category)" msgErro="O campo categoria deve ser preenchido."></app-form-control>
            </div>
            <div class="form-group">
                <label for="quantity" [ngClass]="aplicaCssErroLabel(quantity)">Quantidade</label>
                <input type="number" id="quantity" name="quantity" placeholder="ex: 3" class="form-control" autocomplete="off" #quantity="ngModel" [(ngModel)]="games.quantity" required>
                <app-form-control [mostrarErro]="verificaValidTouched(quantity)" msgErro="O campo quantidade deve ser preenchido."></app-form-control>
            </div>
            <div class="form-group">
                <label for="price" [ngClass]="aplicaCssErroLabel(price)">Preço</label>
                <div class="sub" [ngClass]="aplicaCssErroInput(price)">
                    <span>R$</span>
                    <input type="number" id="price" name="price" min="0" step="any" placeholder="ex: 199,99" class="form-control" autocomplete="off" #price="ngModel" [(ngModel)]="games.price" required>
                </div>
                <app-form-control [mostrarErro]="verificaValidTouched(price)" msgErro="O campo preço deve ser preenchido."></app-form-control>
            </div>
            <div class="form-group">
                <label for="description" [ngClass]="aplicaCssErroLabel(description)">Descrição</label>
                <textarea id="description" class="form-control" placeholder="ex: Considerado um dos melhores jogos de luta da história..." name="description" autocomplete="off" #description="ngModel" [(ngModel)]="games.description" required></textarea>
                <app-form-control [mostrarErro]="verificaValidTouched(description)" msgErro="O campo descrição deve ser preenchido."></app-form-control>
            </div>
            <div class="form-group">
                <label>Fabricante</label><br>
                <label class="radio-inline" *ngFor="let manufacture of manufactures">
                    <input type="radio" name="manufacture" value="{{manufactures.id}}" [checked]="manufactures.id == games.manufactures?.id">
                    <span>
                        {{manufacture.name}}
                        <img [src]="manufacture.imageFullPath" width="50" height="50">
                    </span>
                </label>
            </div>
            <div class="form-group">
                <label>Plataforma(s)</label><br>
                <label class="checkbox-inline" *ngFor="let platform of platforms">
                    <input type="checkbox" value="{{platform.id}}">
                        <span>
                            {{platform.name}}
                            <img [src]="platform.imageFullPath" width="50" height="50">
                        </span>
                </label>
            </div>
            <div class="form-group">
                <label for="image">Imagem</label><br>
                <img src="{{games.imageFullPath}}" width="150" height="150"><br><br>
                <input type="file" name="image" id="image" class="form-control" autocomplete="off" ngModel>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
                Enviar
            </button>
            <a [routerLink]="['/jogo']" class="btn btn-primary">Voltar</a>
        </div>
    </form>
</div>